@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf);
}

.logo{
    font-family: PlayfairDisplay;
    font-size: 5rem;
    color: var(--bs-black);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.temp {
    color: black;
    margin-top: 30px;
}

.descricao {
    color: black;
    margin-left: 20px;
    text-transform: capitalize; /* Deixa a primeira letra maiuscula*/
}

.umidade {
    color: black;
    margin-top: 30px;
}

.lupa {
    height: 20px;
}